/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/
/* Global*/
body {
  margin: 0;
}
h1 {
  font-size: 5.625rem;
  line-height: 1;
}
img {
  width: 7rem;
  border-radius: 10%;
  height: 7rem;
  margin: 20px;
}
h1,
h3,
h2 {
  font-family: "Caveat", cursive;
  margin: 0;
  font-weight: 300;
}
h2 {
  font-size: 2.813rem;
}
a {
  color: #ffe66d;
  text-decoration: none;
}
.content-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
/***********************************************************Flex**********************************/

.Ed-flex {
  display: flex;
  flex-direction: row;
  margin: 0 60;
}
.Ed-item {
  margin-left: 20px;
}
/****************************************************************Profile****************************/
header {
  background-color: #2f3061;
  margin-top: 0;
  color: white;
  text-align: center;
}
/*************************************projects*********************************************/
.projects {
  padding-bottom: 200px;
}
/***********************************Education**********************************************/
.Education {
  background-image: url(../images/EducationImg.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 60px;
}
/*Exp*/
.Exp {
  background-color: #a1c6d7;
}
/* Cirtification*/

.Cirtification a {
  background-color: #2f3061;
  padding: 8px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  color: aliceblue;
}
.Cirtification a:hover {
  background-color: rgb(47, 48, 97, 90%);
}
/*Footer*/
footer {
  background-color: #343434;
  color: white;
  text-align: center;
}
.contact-lists {
  list-style: none;
  text-align: left;
}
/*REsponsive design*/
@media screen and (max-width: 650px) {
  .Ed-flex {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #343434;
  }
  a {
    margin-bottom: 10px;
  }
  section {
    padding: 0 60px;
    text-align: center;
  }
  img {
    width: 7rem;
    border-radius: 10%;
    height: 7rem;
    margin: 20px;
    align-self: center;
  }
  p {
    text-align: left;
  }
  h1 {
    font-size: 75px;
  }
  h2 {
    font-size: 45px;
  }
}
